<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  모바일입니다. (모바일용은 HTML 마크업 필요)<br><br>

  url에 입력된 고유번호 : <%= id %><br>
  <div>닉네임: <%= nickname %></div>
  <div class="referrer">추천인코드 <%= referrer %></div>
  <div class="winner">라이브퀴즈 총 <%= winningCount %>회 우승</div>
</body>
</html>
